NODE_ENV=production
PORT=3001

DB_HOST=172.25.60.241
DB_PORT=3306
DB_USER=my_web_db
DB_PASSWORD=666888
DB_NAME=my_web_db

STATIC_DIR=/app/frontend/dist
CORS_ORIGINS=*
JWT_SECRET=your-super-secret-key-change-this-in-production
